# Script For Downloading Rosters

In [1]:
import nfl_data_py as nfl
import pandas as pd

In [7]:
rosters = nfl.import_seasonal_rosters(list(range(2010, 2025)))

In [9]:
rosters.head()

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
0,2010,PIT,T,None,71,ACT,Flozell Adams,Flozell,Adams,1975-05-18,...,A01,Flozell,ADA280969,None,32004144-4128-0969-9390-de3ae33872eb,1998.0,1998.0,DAL,38,35.0
1,2010,PHI,K,None,2,ACT,David Akers,David,Akers,1974-12-09,...,A01,David,AKE551610,None,3200414b-4555-1610-e0e6-a72c82e419e7,1997.0,1997.0,None,None,35.0
2,2010,SD,LS,None,64,CUT,Ethan Albright,Lawrence,Albright,1971-05-01,...,A01,Ethan,ALB637766,None,3200414c-4263-7766-3ff2-577dbeb62e1c,1994.0,1994.0,None,None,39.0
3,2010,BLT,ILB,None,51,ACT,Brendon Ayanbadejo,Brendon,Ayanbadejo,1976-09-06,...,A01,Brendon,AYA436705,None,32004159-4143-6705-e019-7daf37d2f1af,1999.0,1999.0,None,None,33.0
4,2010,DEN,CB,None,24,ACT,Champ Bailey,Roland,Bailey,1978-06-22,...,I01,Champ,BAI582194,None,32004241-4958-2194-25da-8624608fa14d,1999.0,1999.0,WAS,7,32.0

In [11]:
rosters.to_csv("rosters_2010_2025.csv", index = False)