In [1]:
import pandas as pd
import numpy as np
import nfl_data_py as nfl
import matplotlib as plt
import seaborn as sns
from functools import reduce

In [2]:
seasons = range(2010,2024+1)
pbp = nfl.import_pbp_data(seasons)

2010 done.
2011 done.
2012 done.
2013 done.
2014 done.
2015 done.
2016 done.
2017 done.
2018 done.
2019 done.
2020 done.
2021 done.
2022 done.
2023 done.
2024 done.
Downcasting floats.

# Team Play by Play Stat Calculations

- EPA Total
- EPA Per Play
- EPA per Pass
- EPA per Rush
- EPA per Sack
- EPA per Turnover
- Success Rate
- Success Rate Pass
- Success Rate Rush
- Third Down Conversion Rate
- Basic Team Totals: Pro Football Reference??
- Goal to Go Efficiency
- Play Action Efficiency
- Points per Drive
- Adjusted EPA?
- Drive Success Rate
- Next Gen Stats
-

## EPA (Total, Per Play)

In [6]:
print(pbp.filter(like = 'sack').columns)

Index(['sack', 'lateral_sack_player_id', 'lateral_sack_player_name',
       'sack_player_id', 'sack_player_name', 'half_sack_1_player_id',
       'half_sack_1_player_name', 'half_sack_2_player_id',
       'half_sack_2_player_name'],
      dtype='object')

In [7]:
epa_pbp = pbp.query('season_type == "REG" &\
                    (`pass` == 1 | rush == 1) &\
                    epa.notnull() &\
                    qb_kneel != 1 &\
                    qb_spike != 1')

epa_team = epa_pbp\
    .groupby(['season', 'posteam'])\
    .agg({'epa': ['count', 'sum', 'mean']})

epa_team.columns = list(map('_'.join, epa_team.columns.values))

epa_team.reset_index(inplace = True)

epa_team = epa_team.rename(columns = {'epa_count': 'n',
                                      'epa_mean': 'epa_per_play',
                                      'epa_sum': 'total_epa'})

epa_team.query('season == 2024')\
        .sort_values('epa_per_play', ascending = False)\
        .head(32)

     season posteam     n   total_epa  epa_per_play
450    2024     BAL  1091  215.262497      0.197308
451    2024     BUF  1065  199.021088      0.186874
458    2024     DET  1125  174.612961      0.155212
479    2024     WAS  1142  159.209152      0.139413
477    2024      TB  1128  148.944138      0.132043
473    2024     PHI  1129  124.859138      0.110593
454    2024     CIN  1121  119.292183      0.106416
459    2024      GB  1071   86.105789      0.080398
463    2024      KC  1124   77.364799      0.068830
448    2024     ARI  1087   73.809166      0.067902
476    2024      SF  1065   65.217125      0.061237
465    2024     LAC  1044   46.913311      0.044936
449    2024     ATL  1127   46.145260      0.040945
468    2024     MIN  1090   40.302513      0.036975
464    2024      LA  1074   36.402885      0.033895
457    2024     DEN  1083   10.467472      0.009665
472    2024     NYJ  1063    0.838929      0.000789
475    2024     SEA  1083  -16.803398     -0.015516
462    2024     JAX  1025  -22.064228     -0.021526
474    2024     PIT  1110  -31.647858     -0.028512
460    2024     HOU  1093  -43.192978     -0.039518
467    2024     MIA  1128  -45.334381     -0.040190
452    2024     CAR  1026  -41.937523     -0.040875
461    2024     IND  1075  -50.807556     -0.047263
470    2024      NO  1080  -63.456764     -0.058756
453    2024     CHI  1119  -83.481766     -0.074604
469    2024      NE  1082  -85.381935     -0.078911
456    2024     DAL  1158 -103.964272     -0.089779
471    2024     NYG  1103 -101.204208     -0.091754
478    2024     TEN  1088 -110.350426     -0.101425
466    2024      LV  1108 -145.694046     -0.131493
455    2024     CLE  1176 -206.387939     -0.175500

## EPA per Dropback

In [9]:
epa_pbp_pass = pbp.query('season_type == "REG" &\
                         `pass` == 1 &\
                         passer_id.notnull() &\
                         epa.notnull() &\
                         qb_spike != 1')

epa_pass = epa_pbp_pass\
    .groupby(['season', 'posteam'])\
    .agg({'epa': ['count', 'sum', 'mean']})

epa_pass.columns = list(map('_'.join, epa_pass.columns.values))

epa_pass.reset_index(inplace = True)

epa_pass = epa_pass.rename(columns = {'epa_count': 'dropbacks',
                                      'epa_mean': 'epa_per_dropback',
                                      'epa_sum': 'total_pass_epa'})

epa_pass.query('season == 2024')\
        .sort_values('epa_per_dropback', ascending = False)\
        .head(32)

     season posteam  dropbacks  total_pass_epa  epa_per_dropback
450    2024     BAL        577      186.857132          0.323843
451    2024     BUF        623      186.303421          0.299042
458    2024     DET        613      164.690781          0.268664
479    2024     WAS        690      145.015762          0.210168
477    2024      TB        689      143.716141          0.208587
454    2024     CIN        770      146.493591          0.190251
459    2024      GB        558      103.195999          0.184939
473    2024     PHI        565       92.227486          0.163234
476    2024      SF        642       90.296371          0.140649
463    2024      KC        723      100.722359          0.139312
468    2024     MIN        674       89.703186          0.133091
465    2024     LAC        625       81.792976          0.130869
448    2024     ARI        655       82.280952          0.125620
464    2024      LA        631       67.759666          0.107385
467    2024     MIA        696       60.744450          0.087277
449    2024     ATL        637       51.115963          0.080245
457    2024     DEN        679       39.548046          0.058245
472    2024     NYJ        709       37.610157          0.053047
474    2024     PIT        619       29.381319          0.047466
475    2024     SEA        722       28.833977          0.039936
460    2024     HOU        698        5.951226          0.008526
462    2024     JAX        638        3.710868          0.005816
469    2024      NE        687      -11.547822         -0.016809
461    2024     IND        605      -16.996210         -0.028093
453    2024     CHI        740      -29.766211         -0.040225
452    2024     CAR        663      -27.368166         -0.041279
478    2024     TEN        653      -35.471199         -0.054320
466    2024      LV        747      -44.142078         -0.059092
456    2024     DAL        739      -50.498566         -0.068334
470    2024      NO        657      -48.410465         -0.073684
471    2024     NYG        715      -55.502781         -0.077626
455    2024     CLE        813     -155.453461         -0.191210

## EPA per Rush

In [11]:
epa_pbp_rush = pbp.query('season_type == "REG" &\
                         rush == 1 &\
                         rusher_id.notnull() &\
                         epa.notnull()')

epa_rush = epa_pbp_rush\
    .groupby(['season', 'posteam'])\
    .agg({'epa': ['count', 'sum', 'mean']})

epa_rush.columns = list(map('_'.join, epa_rush.columns.values))

epa_rush.reset_index(inplace = True)

epa_rush = epa_rush.rename(columns = {'epa_count': 'n',
                                      'epa_mean': 'epa_per_rush',
                                      'epa_sum': 'total_rush_epa'})

epa_rush.query('season == 2024')\
        .sort_values('epa_per_rush', ascending = False)\
        .head(32)

     season posteam    n  total_rush_epa  epa_per_rush
473    2024     PHI  564       32.631653      0.057858
450    2024     BAL  514       28.405363      0.055263
479    2024     WAS  452       14.193397      0.031401
451    2024     BUF  442       12.717658      0.028773
458    2024     DET  512        9.922181      0.019379
477    2024      TB  439        5.227996      0.011909
449    2024     ATL  490       -4.970702     -0.010144
448    2024     ARI  432       -8.471785     -0.019611
459    2024      GB  513      -17.090216     -0.033314
470    2024      NO  423      -15.046299     -0.035570
452    2024     CAR  362      -13.264860     -0.036643
463    2024      KC  401      -23.357557     -0.058248
476    2024      SF  423      -25.079243     -0.059289
462    2024     JAX  387      -25.775099     -0.066602
464    2024      LA  443      -31.356783     -0.070783
461    2024     IND  470      -33.811348     -0.071939
457    2024     DEN  403      -30.307611     -0.075205
454    2024     CIN  351      -27.201408     -0.077497
465    2024     LAC  419      -34.879669     -0.083245
472    2024     NYJ  354      -36.771225     -0.103874
471    2024     NYG  388      -45.701427     -0.117787
468    2024     MIN  416      -49.400669     -0.118752
474    2024     PIT  491      -61.029179     -0.124296
460    2024     HOU  395      -49.144207     -0.124416
475    2024     SEA  361      -45.637375     -0.126419
456    2024     DAL  419      -53.465710     -0.127603
455    2024     CLE  362      -50.022984     -0.138185
453    2024     CHI  379      -53.715549     -0.141730
478    2024     TEN  435      -74.879219     -0.172136
469    2024      NE  395      -73.834114     -0.186922
467    2024     MIA  432     -106.078827     -0.245553
466    2024      LV  361     -101.551971     -0.281307

## EPA per Sack

In [13]:
epa_pbp_sack = pbp.query('season_type == "REG" &\
                         `pass` == 1 &\
                         sack == 1')

epa_sack = epa_pbp_sack.groupby(['season', 'posteam'])\
                       .agg({'epa': ['count', 'sum', 'mean']})

epa_sack.columns = list(map('_'.join, epa_sack.columns.values))

epa_sack.reset_index(inplace = True)

epa_sack = epa_sack.rename(columns = {'epa_count': 'n',
                                      'epa_sum': 'total_sack_epa',
                                      'epa_mean': 'epa_per_sack'})

epa_sack.sort_values('epa_per_sack', ascending = True).head(10)

     season posteam   n  total_sack_epa  epa_per_sack
338    2020      LV  28      -71.862923     -2.566533
215    2016     NYG  22      -53.865044     -2.448411
304    2019      LA  22      -53.501495     -2.431886
365    2021     IND  32      -76.912170     -2.403505
311    2019     NYG  43     -103.292404     -2.402149
247    2017     NYG  35      -82.555061     -2.358716
336    2020      LA  25      -58.159813     -2.326392
433    2023     LAC  43      -99.995041     -2.325466
328    2020     DAL  44      -99.477493     -2.260852
375    2021     NYG  38      -85.671623     -2.254516

In [14]:
print(pbp.filter(like = 'success').columns)

Index(['series_success', 'success', 'xyac_success'], dtype='object')

## EPA per Turnover

In [16]:
epa_pbp_turnover = pbp.query('season_type == "REG" &\
                             (`pass` == 1 | rush == 1) &\
                             (interception == 1 | fumble_lost == 1)')

epa_turnover = epa_pbp_turnover.groupby(['season', 'posteam'])\
                               .agg({'epa': ['count', 'sum', 'mean']})

epa_turnover.columns = list(map('_'.join, epa_turnover.columns.values))

epa_turnover.reset_index(inplace = True)

epa_turnover = epa_turnover.rename(columns = {'epa_count': 'turnovers',
                                              'epa_sum': 'total_turnover_epa',
                                              'epa_mean': 'epa_per_turnover'})

epa_turnover.query('season == 2024').sort_values('epa_per_turnover', ascending = False).head(32)

     season posteam  turnovers  total_turnover_epa  epa_per_turnover
462    2024     JAX         23          -75.084229         -3.264532
457    2024     DEN         19          -74.445290         -3.918173
448    2024     ARI         20          -81.007759         -4.050388
479    2024     WAS         14          -58.410240         -4.172160
460    2024     HOU         18          -78.845985         -4.380332
453    2024     CHI         14          -61.472324         -4.390880
465    2024     LAC          8          -35.141441         -4.392680
464    2024      LA         14          -62.416035         -4.458288
452    2024     CAR         22          -98.334412         -4.469746
477    2024      TB         23         -103.895180         -4.517182
474    2024     PIT         16          -72.288643         -4.518040
463    2024      KC         14          -63.699196         -4.549942
476    2024      SF         24         -109.519234         -4.563302
458    2024     DET         15          -68.804092         -4.586939
461    2024     IND         29         -134.268539         -4.629950
473    2024     PHI         12          -56.334473         -4.694540
478    2024     TEN         32         -151.099655         -4.721864
451    2024     BUF          8          -38.303204         -4.787900
472    2024     NYJ         18          -86.993317         -4.832962
475    2024     SEA         19          -92.480057         -4.867372
454    2024     CIN         19          -92.836456         -4.886129
456    2024     DAL         27         -132.728180         -4.915859
470    2024      NO         17          -83.609222         -4.918190
466    2024      LV         29         -142.685349         -4.920185
449    2024     ATL         23         -113.757591         -4.945982
459    2024      GB         18          -90.207123         -5.011507
469    2024      NE         23         -115.646339         -5.028102
467    2024     MIA         19          -96.273254         -5.067013
455    2024     CLE         32         -163.127106         -5.097722
450    2024     BAL         11          -56.331287         -5.121026
468    2024     MIN         20         -102.736977         -5.136849
471    2024     NYG         22         -115.471886         -5.248722

# EPA by Pass Length

In [176]:
pass_plays = pbp.query('season_type == "REG" &\
                       `pass` == 1 &\
                       air_yards.notnull() &\
                       epa.notnull()')

def categorize_pass_length(air_yards):
    if air_yards <5:
        return 'short'
    elif 5 <= air_yards <=10:
        return 'medium'
    else:
        return 'long'
        
pass_plays['pass_length_category'] = pass_plays['air_yards'].apply(categorize_pass_length)

pass_length_epa_old = pass_plays.groupby(['season', 'posteam', 'pass_length_category'])\
                            .agg(total_plays = ('epa', 'count'),
                                 total_epa = ('epa', 'sum'),
                                 epa_per_play = ('epa', 'mean'))\
                            .reset_index()

pass_length_epa = pass_length_epa_old.pivot(index=['season','posteam'], columns='pass_length_category')

# Flatten MultiIndex columns
pass_length_epa.columns = [f"{stat}_{length}" for stat, length in pass_length_epa.columns]
pass_length_epa = pass_length_epa.reset_index()

pass_length_epa

C:\Users\conne\AppData\Local\Temp\ipykernel_12896\144120236.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pass_plays['pass_length_category'] = pass_plays['air_yards'].apply(categorize_pass_length)

,season,posteam,total_plays_long,total_plays_medium,total_plays_short,total_epa_long,total_epa_medium,total_epa_short,epa_per_play_long,epa_per_play_medium,epa_per_play_short
0,2010,ARI,207,148,204,14.313765,-39.900478,-68.436028,0.069149,-0.269598,-0.335471
1,2010,ATL,190,151,234,71.597893,53.944759,3.125275,0.376831,0.357250,0.013356
2,2010,BAL,167,129,194,92.207397,40.136261,-20.456562,0.552140,0.311134,-0.105446
3,2010,BUF,171,140,207,50.310192,4.947889,-45.225456,0.294212,0.035342,-0.218480
4,2010,CAR,128,119,235,13.339266,-0.068696,-91.723976,0.104213,-0.000577,-0.390315
...,...,...,...,...,...,...,...,...,...,...,...
475,2024,SEA,159,143,289,75.440788,14.869667,-8.813965,0.474470,0.103984,-0.030498
476,2024,SF,174,171,182,91.963135,47.083122,-12.363740,0.528524,0.275340,-0.067933
477,2024,TB,170,136,264,67.992332,54.575600,53.374718,0.399955,0.401291,0.202177
478,2024,TEN,163,131,233,71.090836,19.317389,-80.771057,0.436140,0.147461,-0.346657
479,2024,WAS,157,138,227,85.350807,51.092896,5.594304,0.543636,0.370238,0.024645

## TEST 1: Merge all team epa tables into one

dataframes = [epa_team, epa_pass, epa_rush, epa_sack, epa_turnover] 

epa_merged = reduce(lambda left, right: pd.merge(left, 
                                                 right, 
                                                 on = ['season', 'posteam'], 
                                                 how = 'outer'), dataframes)

epa_merged.fillna(0, inplace = True)

epa_merged.query('season == 2024').sort_values('epa_per_play', ascending = False).head(32)

## Team Success Rate

In [20]:
pbp_sr = pbp.query('season_type == "REG" &\
                    (`pass` == 1 | rush == 1)')

sr_team = pbp_sr.groupby(['season', 'posteam'])\
                .agg({'success': ['mean', 'sum']})

sr_team.columns = list(map('_'.join, sr_team.columns))

sr_team.reset_index(inplace = True)

sr_team = sr_team.rename(columns = {'success_mean': 'success_rate_team',
                                    'success_sum': 'total_success_plays_team'})


sr_team.query('season == 2024').sort_values('success_rate_team', ascending = False).head(32)

     season posteam  success_rate_team  total_success_plays_team
458    2024     DET           0.496000                     558.0
450    2024     BAL           0.494042                     539.0
477    2024      TB           0.493794                     557.0
449    2024     ATL           0.484472                     546.0
479    2024     WAS           0.482487                     551.0
454    2024     CIN           0.479929                     538.0
451    2024     BUF           0.478873                     510.0
463    2024      KC           0.475979                     535.0
448    2024     ARI           0.473781                     515.0
464    2024      LA           0.472998                     508.0
468    2024     MIN           0.462385                     504.0
476    2024      SF           0.459155                     489.0
473    2024     PHI           0.452613                     511.0
459    2024      GB           0.448179                     480.0
467    2024     MIA           0.443262                     500.0
475    2024     SEA           0.443213                     480.0
472    2024     NYJ           0.430856                     458.0
457    2024     DEN           0.427516                     463.0
469    2024      NE           0.426063                     461.0
465    2024     LAC           0.424329                     443.0
452    2024     CAR           0.418129                     429.0
462    2024     JAX           0.415610                     426.0
456    2024     DAL           0.413644                     479.0
471    2024     NYG           0.409791                     452.0
466    2024      LV           0.409747                     454.0
474    2024     PIT           0.406306                     451.0
461    2024     IND           0.405581                     436.0
470    2024      NO           0.405556                     438.0
478    2024     TEN           0.405331                     441.0
453    2024     CHI           0.400357                     448.0
460    2024     HOU           0.390668                     427.0
455    2024     CLE           0.372449                     438.0

## Pass Success Rate

In [36]:
pbp_sr_pass = pbp.query('season_type == "REG" &\
                        `pass` == 1 &\
                        qb_spike != 1')

sr_pass = pbp_sr_pass.groupby(['season', 'posteam'])\
                     .agg({'success': ['mean', 'sum']})

sr_pass.columns = list(map('_'.join, sr_pass.columns))

sr_pass.reset_index(inplace = True)

sr_pass = sr_pass.rename(columns = {'success_mean': 'success_rate_pass',
                                    'success_sum': 'total_success_plays_pass'})


sr_pass.query('season == 2024').sort_values('success_rate_pass', ascending = False).head(32)

     season posteam  success_rate_pass  total_success_plays_pass
458    2024     DET           0.536705                     329.0
454    2024     CIN           0.527273                     406.0
477    2024      TB           0.525399                     362.0
450    2024     BAL           0.523397                     302.0
468    2024     MIN           0.507418                     342.0
448    2024     ARI           0.503817                     330.0
451    2024     BUF           0.500803                     312.0
464    2024      LA           0.499208                     315.0
476    2024      SF           0.498442                     320.0
463    2024      KC           0.497925                     360.0
479    2024     WAS           0.495652                     342.0
449    2024     ATL           0.491366                     313.0
467    2024     MIA           0.484195                     337.0
459    2024      GB           0.476703                     266.0
473    2024     PHI           0.476106                     269.0
475    2024     SEA           0.473684                     342.0
469    2024      NE           0.462882                     318.0
465    2024     LAC           0.462400                     289.0
472    2024     NYJ           0.448519                     318.0
466    2024      LV           0.447122                     334.0
457    2024     DEN           0.442647                     301.0
474    2024     PIT           0.436187                     270.0
462    2024     JAX           0.432602                     276.0
478    2024     TEN           0.427259                     279.0
471    2024     NYG           0.426573                     305.0
460    2024     HOU           0.424069                     296.0
461    2024     IND           0.419835                     254.0
456    2024     DAL           0.419486                     310.0
452    2024     CAR           0.417169                     277.0
453    2024     CHI           0.409459                     303.0
470    2024      NO           0.400304                     263.0
455    2024     CLE           0.377614                     307.0

## Rush Success Rate

In [38]:
pbp_sr_rush = pbp.query('season_type == "REG" &\
                         rush == 1')

sr_rush = pbp_sr_rush.groupby(['season', 'posteam'])\
                     .agg({'success': ['mean', 'sum']})

sr_rush.columns = list(map('_'.join, sr_rush.columns))

sr_rush.reset_index(inplace = True)

sr_rush = sr_rush.rename(columns = {'success_mean': 'success_rate_rush',
                                    'success_sum': 'total_success_plays_rush'})


sr_rush.query('season == 2024').sort_values('success_rate_rush', ascending = False).head(32)

     season posteam  success_rate_rush  total_success_plays_rush
449    2024     ATL           0.475510                     233.0
479    2024     WAS           0.462389                     209.0
450    2024     BAL           0.461089                     237.0
451    2024     BUF           0.447964                     198.0
458    2024     DET           0.447266                     229.0
477    2024      TB           0.444191                     195.0
463    2024      KC           0.436409                     175.0
464    2024      LA           0.435666                     193.0
473    2024     PHI           0.429078                     242.0
448    2024     ARI           0.428241                     185.0
452    2024     CAR           0.419890                     152.0
459    2024      GB           0.417154                     214.0
470    2024      NO           0.413712                     175.0
456    2024     DAL           0.403341                     169.0
457    2024     DEN           0.401985                     162.0
476    2024      SF           0.399527                     169.0
472    2024     NYJ           0.395480                     140.0
468    2024     MIN           0.389423                     162.0
462    2024     JAX           0.387597                     150.0
461    2024     IND           0.387234                     182.0
453    2024     CHI           0.382586                     145.0
475    2024     SEA           0.382271                     138.0
471    2024     NYG           0.378866                     147.0
467    2024     MIA           0.377315                     163.0
454    2024     CIN           0.376068                     132.0
478    2024     TEN           0.372414                     162.0
474    2024     PIT           0.368635                     181.0
465    2024     LAC           0.367542                     154.0
469    2024      NE           0.362025                     143.0
455    2024     CLE           0.360882                     131.0
466    2024      LV           0.332410                     120.0
460    2024     HOU           0.331646                     131.0

## First Down Success Rate

In [94]:
first_pbp_sr = pbp.query('season_type == "REG" &\
                         (`pass` == 1 | rush == 1) &\
                         down == 1')

first_down_sr = first_pbp_sr.groupby(['season', 'posteam'])\
                            .agg({'success': ['mean', 'sum']})

first_down_sr.columns = list(map('_'.join, first_down_sr.columns))

first_down_sr.reset_index(inplace = True)

first_down_sr = first_down_sr.rename(columns = {'success_mean': 'first_down_success_rate',
                                                'success_sum': 'first_down_success_total'})


first_down_sr.query('season == 2024').sort_values('first_down_success_rate', ascending = False).head(32)

     season posteam  first_down_success_rate  first_down_success_total
477    2024      TB                 0.494094                     251.0
458    2024     DET                 0.489279                     251.0
454    2024     CIN                 0.479042                     240.0
464    2024      LA                 0.473795                     226.0
450    2024     BAL                 0.468504                     238.0
449    2024     ATL                 0.465070                     233.0
463    2024      KC                 0.450939                     216.0
467    2024     MIA                 0.450000                     225.0
448    2024     ARI                 0.449799                     224.0
479    2024     WAS                 0.444668                     221.0
476    2024      SF                 0.441296                     218.0
468    2024     MIN                 0.439673                     215.0
475    2024     SEA                 0.436853                     211.0
452    2024     CAR                 0.428899                     187.0
451    2024     BUF                 0.426471                     203.0
473    2024     PHI                 0.421162                     203.0
472    2024     NYJ                 0.417219                     189.0
459    2024      GB                 0.416842                     198.0
457    2024     DEN                 0.408994                     191.0
471    2024     NYG                 0.407809                     188.0
466    2024      LV                 0.401260                     191.0
465    2024     LAC                 0.397727                     175.0
461    2024     IND                 0.393617                     185.0
478    2024     TEN                 0.391949                     185.0
453    2024     CHI                 0.391111                     176.0
462    2024     JAX                 0.387755                     171.0
456    2024     DAL                 0.386640                     191.0
470    2024      NO                 0.385965                     176.0
469    2024      NE                 0.385120                     176.0
474    2024     PIT                 0.366953                     171.0
460    2024     HOU                 0.359743                     168.0
455    2024     CLE                 0.351020                     172.0

## Second Down Success Rate

In [97]:
second_pbp_sr = pbp.query('season_type == "REG" &\
                          (`pass` == 1 | rush == 1) &\
                          down == 2')

second_down_sr = second_pbp_sr.groupby(['season', 'posteam'])\
                              .agg({'success': ['mean', 'sum']})

second_down_sr.columns = list(map('_'.join, second_down_sr.columns))

second_down_sr.reset_index(inplace = True)

second_down_sr = second_down_sr.rename(columns = {'success_mean': 'second_down_success_rate',
                                                'success_sum': 'second_down_success_total'})


second_down_sr.query('season == 2024').sort_values('second_down_success_rate', ascending = False).head(32)

     season posteam  second_down_success_rate  second_down_success_total
451    2024     BUF                  0.527066                      185.0
450    2024     BAL                  0.517711                      190.0
448    2024     ARI                  0.512465                      185.0
449    2024     ATL                  0.500000                      184.0
479    2024     WAS                  0.496124                      192.0
468    2024     MIN                  0.494565                      182.0
458    2024     DET                  0.493188                      181.0
459    2024      GB                  0.491848                      181.0
464    2024      LA                  0.481894                      173.0
476    2024      SF                  0.481050                      165.0
454    2024     CIN                  0.479784                      178.0
473    2024     PHI                  0.470745                      177.0
469    2024      NE                  0.470109                      173.0
463    2024      KC                  0.467700                      181.0
477    2024      TB                  0.462366                      172.0
475    2024     SEA                  0.460000                      161.0
467    2024     MIA                  0.451087                      166.0
456    2024     DAL                  0.450777                      174.0
462    2024     JAX                  0.445748                      152.0
465    2024     LAC                  0.440678                      156.0
474    2024     PIT                  0.440104                      169.0
457    2024     DEN                  0.431755                      155.0
470    2024      NO                  0.423823                      153.0
472    2024     NYJ                  0.421652                      148.0
453    2024     CHI                  0.415094                      154.0
461    2024     IND                  0.414493                      143.0
452    2024     CAR                  0.406626                      135.0
466    2024      LV                  0.401639                      147.0
478    2024     TEN                  0.401114                      144.0
455    2024     CLE                  0.395778                      150.0
460    2024     HOU                  0.392157                      140.0
471    2024     NYG                  0.383954                      134.0

## Third Down Success Rate

In [100]:
third_pbp_sr = pbp.query('season_type == "REG" &\
                         (`pass` == 1 | rush == 1) &\
                         down == 3')

third_down_sr = third_pbp_sr.groupby(['season', 'posteam'])\
                            .agg({'success': ['mean', 'sum']})

third_down_sr.columns = list(map('_'.join, third_down_sr.columns))

third_down_sr.reset_index(inplace = True)

third_down_sr = third_down_sr.rename(columns = {'success_mean': 'third_down_success_rate',
                                                'success_sum': 'third_down_success_total'})

third_down_sr.query('season == 2024').sort_values('third_down_success_rate', ascending = False).head(32)

     season posteam  third_down_success_rate  third_down_success_total
477    2024      TB                 0.539130                     124.0
463    2024      KC                 0.531915                     125.0
450    2024     BAL                 0.522843                     103.0
479    2024     WAS                 0.495614                     113.0
451    2024     BUF                 0.490654                     105.0
458    2024     DET                 0.490476                     103.0
454    2024     CIN                 0.480000                     108.0
449    2024     ATL                 0.472973                     105.0
472    2024     NYJ                 0.466667                     105.0
476    2024      SF                 0.466346                      97.0
448    2024     ARI                 0.463054                      94.0
473    2024     PHI                 0.459916                     109.0
468    2024     MIN                 0.456221                      99.0
464    2024      LA                 0.442857                      93.0
459    2024      GB                 0.436893                      90.0
471    2024     NYG                 0.434959                     107.0
457    2024     DEN                 0.434043                     102.0
474    2024     PIT                 0.433333                     104.0
460    2024     HOU                 0.430894                     106.0
478    2024     TEN                 0.430435                      99.0
465    2024     LAC                 0.429825                      98.0
475    2024     SEA                 0.428571                      96.0
466    2024      LV                 0.423729                     100.0
456    2024     DAL                 0.418699                     103.0
467    2024     MIA                 0.412556                      92.0
452    2024     CAR                 0.409910                      91.0
469    2024      NE                 0.409692                      93.0
462    2024     JAX                 0.401914                      84.0
461    2024     IND                 0.398230                      90.0
470    2024      NO                 0.397380                      91.0
453    2024     CHI                 0.373984                      92.0
455    2024     CLE                 0.342520                      87.0

## Fourth Down Success Rate

In [103]:
fourth_pbp_sr = pbp.query('season_type == "REG" &\
                         (`pass` == 1 | rush == 1) &\
                         down == 4')

fourth_down_sr = fourth_pbp_sr.groupby(['season', 'posteam'])\
                              .agg({'success': ['mean', 'sum']})

fourth_down_sr.columns = list(map('_'.join, fourth_down_sr.columns))

fourth_down_sr.reset_index(inplace = True)

fourth_down_sr = fourth_down_sr.rename(columns = {'success_mean': 'fourth_down_success_rate',
                                                  'success_sum': 'fourth_down_success_total'})

fourth_down_sr.query('season == 2024').sort_values('fourth_down_success_rate', ascending = False).head(32)

     season posteam  fourth_down_success_rate  fourth_down_success_total
479    2024     WAS                  0.875000                       21.0
457    2024     DEN                  0.714286                       15.0
451    2024     BUF                  0.695652                       16.0
449    2024     ATL                  0.687500                       22.0
473    2024     PHI                  0.678571                       19.0
458    2024     DET                  0.666667                       22.0
464    2024      LA                  0.666667                       16.0
460    2024     HOU                  0.650000                       13.0
465    2024     LAC                  0.647059                       11.0
463    2024      KC                  0.619048                       13.0
469    2024      NE                  0.615385                       16.0
477    2024      TB                  0.600000                        9.0
461    2024     IND                  0.586207                       17.0
470    2024      NO                  0.566667                       17.0
453    2024     CHI                  0.560976                       23.0
466    2024      LV                  0.560000                       14.0
462    2024     JAX                  0.555556                       15.0
454    2024     CIN                  0.550000                       11.0
471    2024     NYG                  0.550000                       22.0
475    2024     SEA                  0.545455                       12.0
455    2024     CLE                  0.533333                       24.0
468    2024     MIN                  0.533333                        8.0
476    2024      SF                  0.529412                        9.0
459    2024      GB                  0.500000                        8.0
452    2024     CAR                  0.483871                       15.0
467    2024     MIA                  0.468750                       15.0
448    2024     ARI                  0.450000                        9.0
472    2024     NYJ                  0.440000                       11.0
450    2024     BAL                  0.437500                        7.0
478    2024     TEN                  0.434783                       10.0
474    2024     PIT                  0.388889                        7.0
456    2024     DAL                  0.344828                       10.0

# Test 2: Combine

In [40]:
dataframes = [epa_team, epa_pass, epa_rush, epa_sack, epa_turnover, sr_team, sr_pass, sr_rush]

team_efficiency = reduce(lambda left, right: pd.merge(left, right, on = ['season', 'posteam'], how = 'outer'), dataframes)

team_efficiency.fillna(0, inplace = True)

team_efficiency.query('season == 2024').sort_values('epa_per_play', ascending = False).head(32)

,season,posteam,n_x,total_epa,epa_per_play,dropbacks,total_pass_epa,epa_per_dropback,n_y,total_rush_epa,...,epa_per_sack,turnovers,total_turnover_epa,epa_per_turnover,success_rate_team,total_success_plays_team,success_rate_pass,total_success_plays_pass,success_rate_rush,total_success_plays_rush
450,2024,BAL,1091,215.262497,0.197308,577,186.857132,0.323843,514,28.405363,...,-1.668336,11,-56.331287,-5.121026,0.494042,539.0,0.523397,302.0,0.461089,237.0
451,2024,BUF,1065,199.021088,0.186874,623,186.303421,0.299042,442,12.717658,...,-1.762314,8,-38.303204,-4.787900,0.478873,510.0,0.500803,312.0,0.447964,198.0
458,2024,DET,1125,174.612961,0.155212,613,164.690781,0.268664,512,9.922181,...,-1.776933,15,-68.804092,-4.586939,0.496000,558.0,0.536705,329.0,0.447266,229.0
479,2024,WAS,1142,159.209152,0.139413,690,145.015762,0.210168,452,14.193397,...,-1.377826,14,-58.410240,-4.172160,0.482487,551.0,0.495652,342.0,0.462389,209.0
477,2024,TB,1128,148.944138,0.132043,689,143.716141,0.208587,439,5.227996,...,-1.686836,23,-103.895180,-4.517182,0.493794,557.0,0.525399,362.0,0.444191,195.0
473,2024,PHI,1129,124.859138,0.110593,565,92.227486,0.163234,564,32.631653,...,-1.859513,12,-56.334473,-4.694540,0.452613,511.0,0.476106,269.0,0.429078,242.0
454,2024,CIN,1121,119.292183,0.106416,770,146.493591,0.190251,351,-27.201408,...,-2.006256,19,-92.836456,-4.886129,0.479929,538.0,0.527273,406.0,0.376068,132.0
459,2024,GB,1071,86.105789,0.080398,558,103.195999,0.184939,513,-17.090216,...,-1.557928,18,-90.207123,-5.011507,0.448179,480.0,0.476703,266.0,0.417154,214.0
463,2024,KC,1124,77.364799,0.068830,723,100.722359,0.139312,401,-23.357557,...,-1.484366,14,-63.699196,-4.549942,0.475979,535.0,0.497925,360.0,0.436409,175.0
448,2024,ARI,1087,73.809166,0.067902,655,82.280952,0.125620,432,-8.471785,...,-1.679053,20,-81.007759,-4.050388,0.473781,515.0,0.503817,330.0,0.428241,185.0
476,2024,SF,1065,65.217125,0.061237,642,90.296371,0.140649,423,-25.079243,...,-1.708819,24,-109.519234,-4.563302,0.459155,489.0,0.498442,320.0,0.399527,169.0
465,2024,LAC,1044,46.913311,0.044936,625,81.792976,0.130869,419,-34.879669,...,-1.526350,8,-35.141441,-4.392680,0.424329,443.0,0.462400,289.0,0.367542,154.0
449,2024,ATL,1127,46.145260,0.040945,637,51.115963,0.080245,490,-4.970702,...,-1.886898,23,-113.757591,-4.945982,0.484472,546.0,0.491366,313.0,0.475510,233.0
468,2024,MIN,1090,40.302513,0.036975,674,89.703186,0.133091,416,-49.400669,...,-1.770155,20,-102.736977,-5.136849,0.462385,504.0,0.507418,342.0,0.389423,162.0
464,2024,LA,1074,36.402885,0.033895,631,67.759666,0.107385,443,-31.356783,...,-1.900811,14,-62.416035,-4.458288,0.472998,508.0,0.499208,315.0,0.435666,193.0
457,2024,DEN,1083,10.467472,0.009665,679,39.548046,0.058245,403,-30.307611,...,-1.693470,19,-74.445290,-3.918173,0.427516,463.0,0.442647,301.0,0.401985,162.0
472,2024,NYJ,1063,0.838929,0.000789,709,37.610157,0.053047,354,-36.771225,...,-1.696962,18,-86.993317,-4.832962,0.430856,458.0,0.448519,318.0,0.395480,140.0
475,2024,SEA,1083,-16.803398,-0.015516,722,28.833977,0.039936,361,-45.637375,...,-1.639562,19,-92.480057,-4.867372,0.443213,480.0,0.473684,342.0,0.382271,138.0
462,2024,JAX,1025,-22.064228,-0.021526,638,3.710868,0.005816,387,-25.775099,...,-1.896231,23,-75.084229,-3.264532,0.415610,426.0,0.432602,276.0,0.387597,150.0
474,2024,PIT,1110,-31.647858,-0.028512,619,29.381319,0.047466,491,-61.029179,...,-1.717114,16,-72.288643,-4.518040,0.406306,451.0,0.436187,270.0,0.368635,181.0
460,2024,HOU,1093,-43.192978,-0.039518,698,5.951226,0.008526,395,-49.144207,...,-1.812864,18,-78.845985,-4.380332,0.390668,427.0,0.424069,296.0,0.331646,131.0
467,2024,MIA,1128,-45.334381,-0.040190,696,60.744450,0.087277,432,-106.078827,...,-1.861187,19,-96.273254,-5.067013,0.443262,500.0,0.484195,337.0,0.377315,163.0
452,2024,CAR,1026,-41.937523,-0.040875,663,-27.368166,-0.041279,362,-13.264860,...,-1.861454,22,-98.334412,-4.469746,0.418129,429.0,0.417169,277.0,0.419890,152.0
461,2024,IND,1075,-50.807556,-0.047263,605,-16.996210,-0.028093,470,-33.811348,...,-1.964669,29,-134.268539,-4.629950,0.405581,436.0,0.419835,254.0,0.387234,182.0
470,2024,NO,1080,-63.456764,-0.058756,657,-48.410465,-0.073684,423,-15.046299,...,-1.880423,17,-83.609222,-4.918190,0.405556,438.0,0.400304,263.0,0.413712,175.0
453,2024,CHI,1119,-83.481766,-0.074604,740,-29.766211,-0.040225,379,-53.715549,...,-1.727916,14,-61.472324,-4.390880,0.400357,448.0,0.409459,303.0,0.382586,145.0
469,2024,NE,1082,-85.381935,-0.078911,687,-11.547822,-0.016809,395,-73.834114,...,-1.993846,23,-115.646339,-5.028102,0.426063,461.0,0.462882,318.0,0.362025,143.0
456,2024,DAL,1158,-103.964272,-0.089779,739,-50.498566,-0.068334,419,-53.465710,...,-1.964517,27,-132.728180,-4.915859,0.413644,479.0,0.419486,310.0,0.403341,169.0
471,2024,NYG,1103,-101.204208,-0.091754,715,-55.502781,-0.077626,388,-45.701427,...,-1.899459,22,-115.471886,-5.248722,0.409791,452.0,0.426573,305.0,0.378866,147.0
478,2024,TEN,1088,-110.350426,-0.101425,653,-35.471199,-0.054320,435,-74.879219,...,-1.589366,32,-151.099655,-4.721864,0.405331,441.0,0.427259,279.0,0.372414,162.0
466,2024,LV,1108,-145.694046,-0.131493,747,-44.142078,-0.059092,361,-101.551971,...,-2.063003,29,-142.685349,-4.920185,0.409747,454.0,0.447122,334.0,0.332410,120.0
455,2024,CLE,1176,-206.387939,-0.175500,813,-155.453461,-0.191210,362,-50.022984,...,-1.738601,32,-163.127106,-5.097722,0.372449,438.0,0.377614,307.0,0.360882,131.0

# Third Down Conversion Rate

In [67]:
third_down_pbp = pbp.query('season_type == "REG" &\
                            (`pass` == 1 | rush == 1) &\
                            down == 3 &\
                            timeout != 1 &\
                            qb_kneel != 1 &\
                            qb_spike != 1')

third_down_pbp.loc[:,'converted'] = third_down_pbp['yards_gained'] >= third_down_pbp['ydstogo']

conversion_rate = third_down_pbp\
    .groupby(['season', 'posteam'])\
    .agg({'converted': ['sum', 'count']})

conversion_rate.columns = list(map('_'.join, conversion_rate.columns.values))

conversion_rate.reset_index(inplace = True)

conversion_rate = conversion_rate.rename(columns = {'converted_sum': 'third_down_converted_total',
                                                    'converted_count': 'third_down_attempts'})

conversion_rate['third_down_conversion_rate'] = conversion_rate['third_down_converted_total'] / conversion_rate['third_down_attempts']

conversion_rate.query('season == 2024').sort_values('third_down_conversion_rate', ascending = False).head(32)

C:\Users\conne\AppData\Local\Temp\ipykernel_12896\3278985898.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  third_down_pbp.loc[:,'converted'] = third_down_pbp['yards_gained'] >= third_down_pbp['ydstogo']

,season,posteam,third_down_converted_total,third_down_attempts,third_down_conversion_rate
477,2024,TB,111,230,0.482609
463,2024,KC,110,233,0.472103
458,2024,DET,97,208,0.466346
450,2024,BAL,91,196,0.464286
454,2024,CIN,102,225,0.453333
479,2024,WAS,100,227,0.440529
473,2024,PHI,98,237,0.413502
451,2024,BUF,88,214,0.411215
448,2024,ARI,83,202,0.410891
476,2024,SF,83,206,0.402913
457,2024,DEN,92,234,0.393162
465,2024,LAC,89,228,0.390351
474,2024,PIT,89,238,0.373950
449,2024,ATL,82,220,0.372727
472,2024,NYJ,83,225,0.368889
468,2024,MIN,80,217,0.368664
459,2024,GB,75,205,0.365854
462,2024,JAX,76,208,0.365385
461,2024,IND,79,222,0.355856
475,2024,SEA,79,224,0.352679
460,2024,HOU,86,244,0.352459
464,2024,LA,74,210,0.352381
478,2024,TEN,80,229,0.349345
467,2024,MIA,76,220,0.345455
452,2024,CAR,76,221,0.343891
456,2024,DAL,84,245,0.342857
470,2024,NO,77,229,0.336245
471,2024,NYG,82,246,0.333333
466,2024,LV,78,235,0.331915
469,2024,NE,74,226,0.327434
453,2024,CHI,76,246,0.308943
455,2024,CLE,70,254,0.275591

## Red Zone Conversion Rate

In [180]:
redzone_pbp = pbp.query('season_type == "REG" &\
                        (`pass` == 1 | rush == 1) &\
                        yardline_100 <= 20 &\
                        down.notnull()')

redzone_tds = redzone_pbp.query('touchdown == 1')

redzone_stats = redzone_pbp\
    .groupby(['season', 'posteam'])\
    .agg(redzone_trips = ('drive', 'nunique'))\
    .reset_index()

td_stats = redzone_tds\
    .groupby(['season', 'posteam'])\
    .agg(redzone_tds = ('touchdown', 'count'))\
    .reset_index()

redzone_tds.reset_index()

redzone_summary = redzone_stats.merge(td_stats, on=['season', 'posteam'], how='left')
redzone_summary['redzone_tds'] = redzone_summary['redzone_tds'].fillna(0)
redzone_summary['redzone_td_rate'] = redzone_summary['redzone_tds'] / redzone_summary['redzone_trips']

# Sort by highest red zone TD rate
redzone_summary = redzone_summary.sort_values('redzone_td_rate', ascending=False)

# View result
redzone_summary.head(10)

     season posteam  redzone_trips  redzone_tds  redzone_td_rate
271    2018      KC             20           51         2.550000
392    2022     DAL             17           42         2.470588
200    2016     DAL             16           39         2.437500
458    2024     DET             21           51         2.428571
399    2022      KC             22           51         2.318182
105    2013     DEN             24           55         2.291667
342    2020      NO             23           52         2.260870
331    2020      GB             22           48         2.181818
451    2024     BUF             22           48         2.181818
450    2024     BAL             23           50         2.173913

In [182]:
# Step 1: Get all red zone plays
redzone_pbp = pbp.query('season_type == "REG" & \
                         (`pass` == 1 | rush == 1) & \
                         yardline_100 <= 20 & \
                         down.notnull()')

# Step 2: Get 1 row per red zone trip (first red zone play per drive)
redzone_drives = redzone_pbp.sort_values(['game_id', 'drive', 'play_id'])\
                             .drop_duplicates(subset=['season', 'posteam', 'game_id', 'drive'])

# Step 3: Add redzone touchdown column (1 if that drive had a TD at any point)
# First, get drives with any TD
td_drives = redzone_pbp[redzone_pbp['touchdown'] == 1]\
    .drop_duplicates(subset=['game_id', 'drive'])[['game_id', 'drive']]
td_drives['redzone_td'] = 1

# Merge to mark which redzone drives had a TD
redzone_trips = redzone_drives.merge(td_drives, on=['game_id', 'drive'], how='left')
redzone_trips['redzone_td'] = redzone_trips['redzone_td'].fillna(0)

# Step 4: Group and calculate red zone conversion rate
redzone_summary = redzone_trips.groupby(['season', 'posteam']).agg(
    redzone_trips=('drive', 'count'),
    redzone_tds=('redzone_td', 'sum')
).reset_index()

redzone_summary['redzone_td_rate'] = redzone_summary['redzone_tds'] / redzone_summary['redzone_trips']

# View top 10
redzone_summary.query('season == 2024').sort_values('redzone_td_rate', ascending=False).head(32)

     season posteam  redzone_trips  redzone_tds  redzone_td_rate
450    2024     BAL             67         50.0         0.746269
451    2024     BUF             67         48.0         0.716418
458    2024     DET             72         51.0         0.708333
477    2024      TB             66         45.0         0.681818
454    2024     CIN             61         39.0         0.639344
453    2024     CHI             36         23.0         0.638889
479    2024     WAS             71         45.0         0.633803
457    2024     DEN             58         36.0         0.620690
459    2024      GB             68         42.0         0.617647
475    2024     SEA             45         27.0         0.600000
452    2024     CAR             52         31.0         0.596154
448    2024     ARI             54         32.0         0.592593
462    2024     JAX             48         27.0         0.562500
476    2024      SF             64         36.0         0.562500
470    2024      NO             45         25.0         0.555556
472    2024     NYJ             56         31.0         0.553571
473    2024     PHI             69         38.0         0.550725
449    2024     ATL             53         29.0         0.547170
463    2024      KC             64         35.0         0.546875
467    2024     MIA             56         30.0         0.535714
464    2024      LA             62         33.0         0.532258
468    2024     MIN             64         34.0         0.531250
465    2024     LAC             51         27.0         0.529412
461    2024     IND             54         28.0         0.518519
466    2024      LV             45         23.0         0.511111
474    2024     PIT             55         28.0         0.509091
478    2024     TEN             46         23.0         0.500000
460    2024     HOU             57         28.0         0.491228
455    2024     CLE             38         18.0         0.473684
456    2024     DAL             51         23.0         0.450980
471    2024     NYG             45         20.0         0.444444
469    2024      NE             49         21.0         0.428571

# Explosive Play Percent

In [208]:
ep_pbp = pbp.query('season_type == "REG" &\
                    (rush == 1 | `pass` == 1) &\
                    yards_gained.notnull()')

ep_pbp['explosive'] = ((ep_pbp['pass'] == 1) & (ep_pbp['yards_gained'] >= 20)) | \
                      ((ep_pbp['rush'] == 1) & (ep_pbp['yards_gained'] >= 10))

ep_pbp['explosive_pass'] = (ep_pbp['pass'] == 1) & ep_pbp['explosive']
ep_pbp['explosive_rush'] = (ep_pbp['rush'] == 1) & ep_pbp['explosive']

explosive_plays = ep_pbp.groupby(['season', 'posteam'])\
                        .agg(total_plays          = ('play_id', 'count'),
                             total_pass_plays     = ('pass', 'sum'),
                             total_rush_plays     = ('rush', 'sum'),
                             explosive_plays      = ('explosive', 'sum'),
                             explosive_pass_plays = ('explosive_pass', 'sum'),
                             explosive_rush_plays = ('explosive_rush', 'sum'))\
                        .reset_index()

explosive_plays['explosive_play_rate'] = explosive_plays['explosive_plays'] / explosive_plays['total_plays']
explosive_plays['explosive_pass_rate'] = explosive_plays['explosive_pass_plays'] / explosive_plays['total_pass_plays']
explosive_plays['explosive_rush_rate'] = explosive_plays['explosive_rush_plays'] / explosive_plays['total_rush_plays']

explosive_plays.query('season == 2024')\
               .sort_values('explosive_play_rate', ascending = False)\
               .head(32)

C:\Users\conne\AppData\Local\Temp\ipykernel_12896\387514866.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ep_pbp['explosive'] = ((ep_pbp['pass'] == 1) & (ep_pbp['yards_gained'] >= 20)) | \
C:\Users\conne\AppData\Local\Temp\ipykernel_12896\387514866.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ep_pbp['explosive_pass'] = (ep_pbp['pass'] == 1) & ep_pbp['explosive']
C:\Users\conne\AppData\Local\Temp\ipykernel_12896\387514866.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ep_pbp['explosive_rush'] = (ep_pbp['rush'] == 1) & ep_pbp['explosive']

,season,posteam,total_plays,total_pass_plays,total_rush_plays,explosive_plays,explosive_pass_plays,explosive_rush_plays,explosive_play_rate,explosive_pass_rate,explosive_rush_rate
450,2024,BAL,1088,574.0,514.0,131,60,71,0.120404,0.104530,0.138132
459,2024,GB,1068,555.0,513.0,125,61,64,0.117041,0.109910,0.124756
458,2024,DET,1125,613.0,512.0,129,62,67,0.114667,0.101142,0.130859
473,2024,PHI,1127,563.0,564.0,120,55,65,0.106477,0.097691,0.115248
476,2024,SF,1064,641.0,423.0,111,66,45,0.104323,0.102964,0.106383
461,2024,IND,1074,604.0,470.0,110,55,55,0.102421,0.091060,0.117021
477,2024,TB,1127,688.0,439.0,115,60,55,0.102041,0.087209,0.125285
448,2024,ARI,1086,654.0,432.0,108,47,61,0.099448,0.071865,0.141204
474,2024,PIT,1110,619.0,491.0,109,55,54,0.098198,0.088853,0.109980
449,2024,ATL,1127,637.0,490.0,109,54,55,0.096717,0.084772,0.112245
462,2024,JAX,1025,638.0,387.0,98,55,43,0.095610,0.086207,0.111111
468,2024,MIN,1089,673.0,416.0,104,64,40,0.095500,0.095097,0.096154
451,2024,BUF,1062,620.0,442.0,101,60,41,0.095104,0.096774,0.092760
465,2024,LAC,1042,623.0,419.0,96,58,38,0.092131,0.093098,0.090692
457,2024,DEN,1080,677.0,403.0,97,57,40,0.089815,0.084195,0.099256
472,2024,NYJ,1060,706.0,354.0,93,52,41,0.087736,0.073654,0.115819
479,2024,WAS,1140,689.0,451.0,97,50,47,0.085088,0.072569,0.104213
470,2024,NO,1080,657.0,423.0,91,48,43,0.084259,0.073059,0.101655
478,2024,TEN,1087,653.0,434.0,90,44,46,0.082797,0.067381,0.105991
460,2024,HOU,1093,698.0,395.0,90,47,43,0.082342,0.067335,0.108861
475,2024,SEA,1081,720.0,361.0,89,54,35,0.082331,0.075000,0.096953
464,2024,LA,1072,630.0,442.0,85,51,34,0.079291,0.080952,0.076923
456,2024,DAL,1155,736.0,419.0,89,48,41,0.077056,0.065217,0.097852
452,2024,CAR,1026,664.0,362.0,77,46,31,0.075049,0.069277,0.085635
454,2024,CIN,1119,768.0,351.0,82,50,32,0.073280,0.065104,0.091168
467,2024,MIA,1126,696.0,430.0,82,38,44,0.072824,0.054598,0.102326
466,2024,LV,1106,745.0,361.0,79,50,29,0.071429,0.067114,0.080332
469,2024,NE,1081,686.0,395.0,75,37,38,0.069380,0.053936,0.096203
471,2024,NYG,1103,715.0,388.0,74,37,37,0.067090,0.051748,0.095361
463,2024,KC,1118,719.0,399.0,65,44,21,0.058140,0.061196,0.052632
453,2024,CHI,1118,740.0,378.0,65,42,23,0.058140,0.056757,0.060847
455,2024,CLE,1176,813.0,363.0,68,39,29,0.057823,0.047970,0.079890

In [189]:
print(pbp.filter(like = 'yards').columns)

Index(['yards_gained', 'air_yards', 'yards_after_catch', 'passing_yards',
       'receiving_yards', 'rushing_yards', 'lateral_receiving_yards',
       'lateral_rushing_yards', 'fumble_recovery_1_yards',
       'fumble_recovery_2_yards', 'return_yards', 'penalty_yards',
       'drive_yards_penalized', 'ngs_air_yards'],
      dtype='object')

# Final Combination

In [210]:
dataframes = [epa_team, 
              epa_pass, 
              epa_rush, 
              epa_sack, 
              epa_turnover, 
              pass_length_epa, 
              sr_team, 
              sr_pass, 
              sr_rush,
              first_down_sr,
              second_down_sr,
              third_down_sr,
              fourth_down_sr,
              conversion_rate,
              redzone_summary,
              explosive_plays]

team_efficiency = reduce(lambda left, right: pd.merge(left, right, on = ['season', 'posteam'], how = 'outer'), dataframes)

team_efficiency.fillna(0, inplace = True)

team_efficiency.query('season == 2024').sort_values('epa_per_play', ascending = False).head(32)

,season,posteam,n_x,total_epa,epa_per_play,dropbacks,total_pass_epa,epa_per_dropback,n_y,total_rush_epa,...,redzone_td_rate,total_plays,total_pass_plays,total_rush_plays,explosive_plays,explosive_pass_plays,explosive_rush_plays,explosive_play_rate,explosive_pass_rate,explosive_rush_rate
450,2024,BAL,1091,215.262497,0.197308,577,186.857132,0.323843,514,28.405363,...,0.746269,1088,574.0,514.0,131,60,71,0.120404,0.104530,0.138132
451,2024,BUF,1065,199.021088,0.186874,623,186.303421,0.299042,442,12.717658,...,0.716418,1062,620.0,442.0,101,60,41,0.095104,0.096774,0.092760
458,2024,DET,1125,174.612961,0.155212,613,164.690781,0.268664,512,9.922181,...,0.708333,1125,613.0,512.0,129,62,67,0.114667,0.101142,0.130859
479,2024,WAS,1142,159.209152,0.139413,690,145.015762,0.210168,452,14.193397,...,0.633803,1140,689.0,451.0,97,50,47,0.085088,0.072569,0.104213
477,2024,TB,1128,148.944138,0.132043,689,143.716141,0.208587,439,5.227996,...,0.681818,1127,688.0,439.0,115,60,55,0.102041,0.087209,0.125285
473,2024,PHI,1129,124.859138,0.110593,565,92.227486,0.163234,564,32.631653,...,0.550725,1127,563.0,564.0,120,55,65,0.106477,0.097691,0.115248
454,2024,CIN,1121,119.292183,0.106416,770,146.493591,0.190251,351,-27.201408,...,0.639344,1119,768.0,351.0,82,50,32,0.073280,0.065104,0.091168
459,2024,GB,1071,86.105789,0.080398,558,103.195999,0.184939,513,-17.090216,...,0.617647,1068,555.0,513.0,125,61,64,0.117041,0.109910,0.124756
463,2024,KC,1124,77.364799,0.068830,723,100.722359,0.139312,401,-23.357557,...,0.546875,1118,719.0,399.0,65,44,21,0.058140,0.061196,0.052632
448,2024,ARI,1087,73.809166,0.067902,655,82.280952,0.125620,432,-8.471785,...,0.592593,1086,654.0,432.0,108,47,61,0.099448,0.071865,0.141204
476,2024,SF,1065,65.217125,0.061237,642,90.296371,0.140649,423,-25.079243,...,0.562500,1064,641.0,423.0,111,66,45,0.104323,0.102964,0.106383
465,2024,LAC,1044,46.913311,0.044936,625,81.792976,0.130869,419,-34.879669,...,0.529412,1042,623.0,419.0,96,58,38,0.092131,0.093098,0.090692
449,2024,ATL,1127,46.145260,0.040945,637,51.115963,0.080245,490,-4.970702,...,0.547170,1127,637.0,490.0,109,54,55,0.096717,0.084772,0.112245
468,2024,MIN,1090,40.302513,0.036975,674,89.703186,0.133091,416,-49.400669,...,0.531250,1089,673.0,416.0,104,64,40,0.095500,0.095097,0.096154
464,2024,LA,1074,36.402885,0.033895,631,67.759666,0.107385,443,-31.356783,...,0.532258,1072,630.0,442.0,85,51,34,0.079291,0.080952,0.076923
457,2024,DEN,1083,10.467472,0.009665,679,39.548046,0.058245,403,-30.307611,...,0.620690,1080,677.0,403.0,97,57,40,0.089815,0.084195,0.099256
472,2024,NYJ,1063,0.838929,0.000789,709,37.610157,0.053047,354,-36.771225,...,0.553571,1060,706.0,354.0,93,52,41,0.087736,0.073654,0.115819
475,2024,SEA,1083,-16.803398,-0.015516,722,28.833977,0.039936,361,-45.637375,...,0.600000,1081,720.0,361.0,89,54,35,0.082331,0.075000,0.096953
462,2024,JAX,1025,-22.064228,-0.021526,638,3.710868,0.005816,387,-25.775099,...,0.562500,1025,638.0,387.0,98,55,43,0.095610,0.086207,0.111111
474,2024,PIT,1110,-31.647858,-0.028512,619,29.381319,0.047466,491,-61.029179,...,0.509091,1110,619.0,491.0,109,55,54,0.098198,0.088853,0.109980
460,2024,HOU,1093,-43.192978,-0.039518,698,5.951226,0.008526,395,-49.144207,...,0.491228,1093,698.0,395.0,90,47,43,0.082342,0.067335,0.108861
467,2024,MIA,1128,-45.334381,-0.040190,696,60.744450,0.087277,432,-106.078827,...,0.535714,1126,696.0,430.0,82,38,44,0.072824,0.054598,0.102326
452,2024,CAR,1026,-41.937523,-0.040875,663,-27.368166,-0.041279,362,-13.264860,...,0.596154,1026,664.0,362.0,77,46,31,0.075049,0.069277,0.085635
461,2024,IND,1075,-50.807556,-0.047263,605,-16.996210,-0.028093,470,-33.811348,...,0.518519,1074,604.0,470.0,110,55,55,0.102421,0.091060,0.117021
470,2024,NO,1080,-63.456764,-0.058756,657,-48.410465,-0.073684,423,-15.046299,...,0.555556,1080,657.0,423.0,91,48,43,0.084259,0.073059,0.101655
453,2024,CHI,1119,-83.481766,-0.074604,740,-29.766211,-0.040225,379,-53.715549,...,0.638889,1118,740.0,378.0,65,42,23,0.058140,0.056757,0.060847
469,2024,NE,1082,-85.381935,-0.078911,687,-11.547822,-0.016809,395,-73.834114,...,0.428571,1081,686.0,395.0,75,37,38,0.069380,0.053936,0.096203
456,2024,DAL,1158,-103.964272,-0.089779,739,-50.498566,-0.068334,419,-53.465710,...,0.450980,1155,736.0,419.0,89,48,41,0.077056,0.065217,0.097852
471,2024,NYG,1103,-101.204208,-0.091754,715,-55.502781,-0.077626,388,-45.701427,...,0.444444,1103,715.0,388.0,74,37,37,0.067090,0.051748,0.095361
478,2024,TEN,1088,-110.350426,-0.101425,653,-35.471199,-0.054320,435,-74.879219,...,0.500000,1087,653.0,434.0,90,44,46,0.082797,0.067381,0.105991
466,2024,LV,1108,-145.694046,-0.131493,747,-44.142078,-0.059092,361,-101.551971,...,0.511111,1106,745.0,361.0,79,50,29,0.071429,0.067114,0.080332
455,2024,CLE,1176,-206.387939,-0.175500,813,-155.453461,-0.191210,362,-50.022984,...,0.473684,1176,813.0,363.0,68,39,29,0.057823,0.047970,0.079890

In [212]:
team_efficiency.to_csv('team_efficiency_stats.csv', index = False)